.shop-page-header-container {
  background-image: url(./images/shop-header.png);
  background-repeat: no-repeat;
  min-height: 60vh;
  height: fit-content;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.shop-header-text {
  align-self: center;
  margin-top: 5%;
  color: white;
  font-weight: 200;
}

.shop-items-container {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  justify-content: space-evenly;
  padding: 2% 0;
  box-sizing: border-box;
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: fit-content;
  border: 10px solid rgb(164, 92, 65);
  background-color: rgb(164, 92, 65);
  margin: 5% 0;
}
.item-card img {
  height: 180px;
  width: auto;
}

.addToCart-button {
  width: fit-content;
  align-self: center;
  padding: 1% 4%;
  font-size: 1.5rem;
  background-color: rgba(73, 129, 212, 1);
  border: none;
  color: white;
}

.addToCart-button:hover {
  cursor: pointer;
  background-color: rgb(42, 103, 193);
}

.amount-added-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.minus-button {
  background-color: rgba(252, 59, 59, 1);
  border: none;
  border-radius: 5px;
  width: 15%;
  margin-right: 5%;
}
.minus-button h4 {
  color: black;
  font-weight: 800;
}

.minus-button:hover {
  cursor: pointer;
  background-color: rgb(197, 46, 46);
}

.plus-button {
  background-color: rgba(92, 212, 73, 1);
  border: none;
  border-radius: 5px;
  margin-left: 5%;
  width: 15%;
}
.plus-button h4 {
  color: black;
  font-weight: 800;
}

.plus-button:hover {
  cursor: pointer;
  background-color: rgb(69, 165, 55);
}

.item-price {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .shop-items-container {
    grid-template-columns: repeat(2, 20%);
  }
  .item-card {
    width: 25vw;
    justify-self: center;
  }
}

@media screen and (max-width: 500px) {
  .shop-items-container {
    grid-template-columns: repeat(1, 20%);
  }

  .item-card {
    width: 40vw;
    justify-self: center;
  }
}
